.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .figure-caption {
  padding: 10px;
}



.nav-pills > li {
  float: none;
  display: inline-block;
}

